Package: com.yourcompany.wxredplugin
Name: wxRedPlugin
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: linfen chu
Author: linfen chu
Section: Tweaks
